body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
}
.cabecera {
  padding: 6px;
  background: #5b7989;
  border-radius: 10px;
}
.cabecera h1 {
  text-shadow: 2px 0px 0px #02010a;
  color: white;}
a{
  color: white;
}
.m{
list-style-type:none;
font-size:16px;
margin-right:20px;
}
.m li{
display: inline;
text-align:center;
margin:0 10px 0 0;
font-size:22px;
}
img {
  box-shadow: 2px 0px 0px #02010a;
}
.centro{
  background: #82c3a6;
  border: 1px;
  display: flex;
}
.centro figure {
  display: block;
  text-align: center;
  width: 100%;
}
.duplicado {
  background: #d5c75f;
  border: 1px;

}
.duplicado img{
  width: 80%;
}
.izq img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 0px 0px #82c3a6;
  transition: transform 2s;
}
.der img:hover{
  transform: translate(20px , -5px);
  box-shadow: 2px 0px 0px #82c3a6;
  transition: transform 2s;
}
.duplicado figcaption{
  text-align: center;
  font-size: 22px;
}
#pie {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #C6d5c5;
  text-emphasis-color: black;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
#pie img{
  display: block;
  box-shadow: none;
}
#pie p{
  display: inline;
}
#pie div {
  display: block;
  margin-left: 10px;
  align-items: center;
}
@media (max-width: 899px) {
  .contenido{
    width: 100%;
  }
  .centro img{
    width: 90%;
  }
  .m{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .duplicado{
    margin-top: -17px;
  }
  .izq img{
    margin-top: 10px;
    width: 100%;
    order: 1;
  }
  .der img{
    width: 100%;
    order: 2;
  }
  #pie{
    margin-top: -17px;
  }
  .contacto{
    order: 1;
  }
  .termino{
    order: 2;
  }
  .redes{
    order: 3;
  }
  .derechos{
    order: 4;
  }
}
@media (min-width: 900px) {
  .contenido{
    width: 900px;
  }
  .m{
    text-align:right;
    margin-top:-50px;
  }
  ul{
  list-style-type: none;
  }
  .duplicado{
    display: flex;
    flex-flow: row;
  }
  .izq{
    margin-left: auto;
    margin-right: auto;
  }
  .contacto{
    width: 24%;
  }
  .termino{
    width: 24%;
  }
  .redes{
    width: 24%;
  }
  .derechos{
    width: 24%;
  }
}
