body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
}
.cabecera {
  padding: 6px;
  background: #5b7989;
  border-radius: 10px;
}
.cabecera h1 {
  text-shadow: 2px 0px 0px #02010a;
  color: white;}
a{
  color: white;
}
.m{
list-style-type:none;
text-align:right;
font-size:16px;
margin-top:-50px;
margin-right:20px;
}
.m li{
display:inline;
text-align:center;
margin:0 10px 0 0;
font-size:22px;
}
ul{
list-style-type: none;
}
img {
  box-shadow: 2px 0px 0px #02010a;
}
.centro{
  background: #82c3a6;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.centro img{
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 899px) {
  .contenido{
    width: 100%;
  }
}
@media (min-width: 900px) {
  .contenido{
    width: 900px;
  }
}
