body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
}
.cabecera {
  padding: 6px;
  background: #5b7989;
  border-radius: 10px;
}
.cabecera h1 {
  text-shadow: 2px 0px 0px #02010a;
  color: white;}
a{
  color: white;
}
.m{
list-style-type:none;
text-align:right;
font-size:16px;
margin-top:-50px;
margin-right:20px;
}
.m li{
display:inline;
text-align:center;
margin:0 10px 0 0;
font-size:22px;
}
ul{
list-style-type: none;
}
img {
  box-shadow: 2px 0px 0px #02010a;
  width: 400px;
  height: 241px;
}
.centro{
  background: #82c3a6;
  border: 1px;
  display: flex;
}
.centro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10 px;
  padding-bottom: 10 px;
  border:none;
  width: 70%;
  height: 70%;
}
.duplicado {
  background: #d5c75f;
  border: 1px;
  display: flex;
  flex-flow: row;
}
.duplicado figcaption{
  text-align: center;
  font-size: 22px;
}
.izq{
  margin: 1rem;
  padding: 4rem;
}
.izq img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 0px 0px #82c3a6;
  transition: transform 2s;
}
.der{
  margin: 1rem;
  padding: 4rem;
}
.der img:hover{
  transform: translate(20px , -5px);
  box-shadow: 2px 0px 0px #82c3a6;
  transition: transform 2s;
}
#pie {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #C6d5c5;
  text-emphasis-color: black;
  display: flex;
  width: 100%;
	flex-flow: row wrap;
}
#pie img{
  width: 30px;
  height: 30px;
  box-shadow: none;
}
#pie div {
  margin-left: 10px;
  box-sizing: border-box;
}
.contacto{
  width: 25%;
}
.termino{
  width: 25%;
}
.redes{
  width: 25%;
}
.derechos{
  width: 20%;
}
@media (max-width: 899px) {
  .contenido{
    width: 100%;
  }
}
@media (min-width: 900px) {
  .contenido{
    width: 900px;
  }
}
